
<!-- <input type="text" name="name" id="name" [(ngModel)] = "name">
<h1>{{name}}</h1>

<div *ngIf="show">
    <div *ngFor="let listofname of names" >{{listofname}}</div>
</div>

<button [disabled]="online" (click) = "onclick()">Submit</button> -->

<app-header (selected-Column) = "onselectColumn($event)" ></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf = "SelectedTab === 'Recipes'"></app-recipes>
            <app-shopping-list *ngIf = "SelectedTab === 'Shopping'"></app-shopping-list>
        </div>
    </div>
</div>